@model IEnumerable<UnhandledExceptionProject.Models.Alteration>

@{
    ViewBag.Title = "ShowBusiness: Browse";
    Html.RenderPartial("_Header");
}

<div class="container">
    @{
        Html.RenderPartial("_Browse");
    }
    <div class="col-md-9">
        <div class="browse">
            @foreach (var item in Model)
            {
                <div class="index">
                    <table class="index">
                        <tr>
                            <td class="index" colspan="5">Alteration: @Html.DisplayFor(modelItem => item.alteration_ID)</td>
                        </tr>
                        <tr>
                            <td class="indexlabel">@Html.DisplayNameFor(model => model.garment_ID)</td>
                            <td class="indexinfo">@Html.DisplayFor(modelItem => item.garment_ID)</td>
                            <td class="indexlabel"></td>
                            <td class="indexinfo"></td>
                        </tr>
                        <tr>
                            <td class="indexlabel">@Html.DisplayNameFor(model => model.prop_ID)</td>
                            <td class="indexinfo">@Html.DisplayFor(modelItem => item.prop_ID)</td>
                            <td class="indexlabel"></td>
                            <td class="indexinfo"></td>
                        </tr>
                        <tr>
                            <td class="indexlabel">@Html.DisplayNameFor(model => model.date_altered)</td>
                            <td class="indexinfo">@Html.DisplayFor(modelItem => item.date_altered)</td>
                            <td class="indexlabel"></td>
                            <td class="indexinfo"></td>
                        </tr>
                        <tr>
                            <td class="indexlabel">@Html.DisplayNameFor(model => model.permanent)</td>
                            <td class="indexinfo">@Html.DisplayFor(modelItem => item.permanent)</td>
                            <td class="indexlabel"></td>
                            <td class="indexinfo"></td>
                        </tr>
                        <tr>
                            <td class="indexlabel">@Html.DisplayNameFor(model => model.previous_state)</td>
                            <td class="indexinfo">@Html.DisplayFor(modelItem => item.previous_state)</td>
                            <td class="indexlabel"> </td>
                            <td class="indexinfo"> </td>
                        </tr>
                        <tr>
                            <td class="indexlabel">@Html.DisplayNameFor(model => model.new_state)</td>
                            <td class="indexinfo">@Html.DisplayFor(modelItem => item.new_state)</td>
                            <td class="indexlabel"> </td>
                            <td class="indexinfo"> </td>
                        </tr>
                        <tr></tr>
                        <tr>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.alteration_ID }) |
                                @Html.ActionLink("Delete", "Delete", "Alterations", new { id = item.alteration_ID }, new { @class = "delete" })
                            </td>
                        </tr>
                    </table>
                </div>
            }
        </div>
    </div>
</div>

@{
    Html.RenderPartial("_Footer");
}

