@model UnhandledExceptionProject.Models.Garment

@{
    ViewBag.Title = "Add New Garment";
    Html.RenderPartial("_Header");
}

<div class="container">
     @{
         //Renders a partial view which holds the template HTML for the browse page
        Html.RenderPartial("_Browse");
     }
 @using (Html.BeginForm()) {
     //Begins an HTML form
     
     //Allows for validation
    @Html.ValidationSummary(true)
      <div class="col-md-9">
        <div class="browse">
                <div class="index">
                <table class="index">
                    <tr>
                        <td class="index" colspan="5">Add New Garment</td>
                    </tr>
                    <tr>
                        <td class="indexlabel">@Html.LabelFor(model => model.type)</td>
                        <td class="indexinfo">@Html.EditorFor(model => model.type)
                                                @Html.ValidationMessageFor(model => model.type)</td>
                        <td class="indexlabel">@Html.LabelFor(model => model.rented)</td>
                        <td class="indexinfo">@Html.EditorFor(model => model.rented)
                                                @Html.ValidationMessageFor(model => model.rented)</td>
                    </tr>
                    <tr>
                        <td class="indexlabel">@Html.LabelFor(model => model.main_category_ID)</td>
                        <td class="indexinfo">
                            <select id="main_category_ID" name="main_category_ID">
                                @foreach(var choice in ViewBag.CategoryList)
                                {
                                    <option value="@choice">@choice</option>
                                }
                            </select>
                            @Html.ValidationMessageFor(model => model.main_category_ID)
                        </td>
                        <td class="indexlabel">@Html.LabelFor(model => model.rentable)</td>
                        <td class="indexinfo">@Html.EditorFor(model => model.rentable)
                                                @Html.ValidationMessageFor(model => model.rentable)</td>
                    </tr>
                    <tr>
                        <td class="indexlabel">@Html.LabelFor(model => model.sub_category_ID)</td>
                        <td class="indexinfo">
                            <select id="sub_category_ID" name="sub_category_ID">
                                @foreach(var choice in ViewBag.CategoryList)
                                {
                                    <option value="@choice">@choice</option>
                                }
                            </select>
                            @Html.ValidationMessageFor(model => model.sub_category_ID)
                        </td>
                        <td class="indexlabel">@Html.LabelFor(model => model.material_ID)</td>
                        <td class="indexinfo">
                            <select id="material_ID" name="material_ID">
                                @foreach(var choice in ViewBag.MaterialList)
                                {
                                    <option value="@choice">@choice</option>
                                }
                            </select>
                            @Html.ValidationMessageFor(model => model.material_ID)
                        </td>
                    </tr>
                    <tr>
                        <td class="indexlabel">@Html.LabelFor(model => model.pattern_ID)</td>
                        <td class="indexinfo">
                            <select id="pattern_ID" name="pattern_ID">
                                @foreach (var choice in ViewBag.PatternList)
                                {
                                    <option value="@choice">@choice</option>
                                }
                            </select>
                            @Html.ValidationMessageFor(model => model.pattern_ID)
                        </td>
                        <td class="indexlabel">@Html.LabelFor(model => model.last_cleaned_date)</td>
                        <td class="indexinfo">@Html.EditorFor(model => model.last_cleaned_date)
                                                @Html.ValidationMessageFor(model => model.last_cleaned_date)</td>
                    </tr>
                    <tr>
                        <td class="indexlabel">@Html.LabelFor(model => model.storage_ID)</td>
                        <td class="indexinfo">
                            <select id="storage_ID" name="storage_ID">
                                @foreach(var choice in ViewBag.StorageLocationList)
                                {
                                    <option value="@choice">@choice</option>
                                }
                            </select>
                            @Html.ValidationMessageFor(model => model.storage_ID)
                        </td>
                        <td class="indexlabel">@Html.LabelFor(model => model.cleaning_instr)</td>
                        <td class="indexinfo">@Html.EditorFor(model => model.cleaning_instr)
                                                @Html.ValidationMessageFor(model => model.cleaning_instr)</td>
                    </tr>
                    <tr>
                        <td class="indexlabel">@Html.LabelFor(model => model.last_altered)</td>
                        <td class="indexinfo">@Html.EditorFor(model => model.last_altered)
                                                @Html.ValidationMessageFor(model => model.last_altered)</td>
                        <td class="indexlabel">@Html.LabelFor(model => model.added_date)</td>
                        <td class="indexinfo">@Html.EditorFor(model => model.added_date)
                                                @Html.ValidationMessageFor(model => model.added_date)</td>
                    </tr>
                    <tr>
                        <td class="indexlabel">@Html.LabelFor(model => model.name)</td>
                        <td class="indexinfo">@Html.EditorFor(model => model.name)
                                                @Html.ValidationMessageFor(model => model.name)</td>
                        <td class="indexlabel">@Html.LabelFor(model => model.costume_ID)</td>
                        <td class="indexinfo">
                            <select id="costume_ID" name="costume_ID">
                                @foreach(var choice in ViewBag.CostumeList)
                                {
                                    <option value="@choice">@choice</option>
                                }
                            </select>
                            @Html.ValidationMessageFor(model => model.costume_ID)
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="submit" class="button" value="Create" /></td>
                    </tr>
            </table>
            </div>
          </div>
      </div>
 }
    </div>
</div>

@{
    Html.RenderPartial("_Footer");
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
