@model IEnumerable<UnhandledExceptionProject.Models.Garment>

@{
    ViewBag.Title = "ShowBusiness: Browse";
    Html.RenderPartial("_Header");
}

<div class="container">
    @{
        //Renders a partial view which holds the template HTML for the browse page
        Html.RenderPartial("_Browse");
    }
      <div class="col-md-9">
        <div class="browse">
            @foreach (var item in Model) {
                <div class="index">
                <table class="index">
                    <tr>
                        <td class="index" colspan="5">@Html.DisplayFor(modelItem => item.name)</td>
                    </tr>
                    <tr>
                        <td class="indexlabel">@Html.DisplayNameFor(model => model.type)</td>
                        <td class="indexinfo">@Html.DisplayFor(modelItem => item.type)</td>
                        <td class="indexlabel">@Html.DisplayNameFor(model => model.rented)</td>
                        <td class="indexinfo">@Html.DisplayFor(modelItem => item.rented)</td>
                        <td class="indexinfo" rowspan="6">@Html.DisplayFor(modelItem => item.photo)</td>
                    </tr>
                    <tr>
                        <td class="indexlabel">@Html.DisplayNameFor(model => model.main_category_ID)</td>
                        <td class="indexinfo">@Html.DisplayFor(modelItem => item.main_category_ID)</td>
                        <td class="indexlabel">@Html.DisplayNameFor(model => model.rentable)</td>
                        <td class="indexinfo">@Html.DisplayFor(modelItem => item.rentable)</td>
                    </tr>
                    <tr>
                        <td class="indexlabel">@Html.DisplayNameFor(model => model.sub_category_ID)</td>
                        <td class="indexinfo">@Html.DisplayFor(modelItem => item.sub_category_ID)</td>
                        <td class="indexlabel">@Html.DisplayNameFor(model => model.added_date)</td>
                        <td class="indexinfo">@Html.DisplayFor(modelItem => item.added_date)</td>
                    </tr>
                    <tr>
                        <td class="indexlabel">@Html.DisplayNameFor(model => model.material_ID)</td>
                        <td class="indexinfo">@Html.DisplayFor(modelItem => item.material_ID)</td>
                        <td class="indexlabel">@Html.DisplayNameFor(model => model.last_altered)</td>
                        <td class="indexinfo">@Html.DisplayFor(modelItem => item.last_altered)</td>
                    </tr>
                    <tr>
                        <td class="indexlabel">@Html.DisplayNameFor(model => model.pattern_ID)</td>
                        <td class="indexinfo">@Html.DisplayFor(modelItem => item.pattern_ID)</td>
                        <td class="indexlabel">@Html.DisplayNameFor(model => model.last_cleaned_date)</td>
                        <td class="indexinfo">@Html.DisplayFor(modelItem => item.last_cleaned_date)</td>
                    </tr>
                    <tr>
                        <td class="indexlabel">@Html.DisplayNameFor(model => model.storage_ID)</td>
                        <td class="indexinfo">@Html.DisplayFor(modelItem => item.storage_ID)</td>
                        <td class="indexlabel">@Html.DisplayNameFor(model => model.cleaning_instr)</td>
                        <td class="indexinfo">@Html.DisplayFor(modelItem => item.cleaning_instr)</td>
                    </tr>
                    <tr>
                        
                    </tr>
                    <tr>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.garment_ID }) |
                        @Html.ActionLink("Delete", "Delete", "Garment", new { id = item.garment_ID }, new { @class = "delete" })
                    </td>
                    </tr>
            </table>
            </div>
          }
          </div>
      </div>
    </div>
</div>

@{
    Html.RenderPartial("_Footer");
}

