@model UnhandledExceptionProject.Models.Rental

@{
    ViewBag.Title = "Create";
    Html.RenderPartial("_Header");
}

<div class="container">
    @{
        Html.RenderPartial("_Browse");
    }
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        @Html.AntiForgeryToken()

        
        <div class="col-md-9">
            <div class="browse">
                <div class="index">
                    <table class="index">
                        <tr>
                            <td class="index" colspan="5">Create: New Rental</td>
                        </tr>
                        <tr>
                            <td class="indexlabel">Renter</td>
                            <td class="indexinfo">
                               <select id="renter_ID" name="renter_ID">
    
                                   @foreach(var choice in ViewBag.RenterList)
                                   {
                                       <option value="@choice">@choice</option>
                                   }
                               </select>
                               @Html.ValidationMessageFor(model => model.renter_ID)
                        </td>
                        <td class="indexlabel">Prop</td>
                        <td class="indexinfo">
                            <select id="prop_ID" name="prop_ID">

                                @foreach (var choice in ViewBag.PropList)
                                {
                                    <option value="@choice">@choice</option>
                                }
                            </select>

                        @Html.ValidationMessageFor(model => model.prop_ID)
                    </td>
                </tr>
                <tr>
                    <td class="indexlabel">Garment</td>
                    <td class="indexinfo">
                        <select id="garment_ID" name="garment_ID">

                            @foreach (var choice in ViewBag.GarmentList)
                            {
                                <option value="@choice">@choice</option>
                            }
                        </select>

                    @Html.ValidationMessageFor(model => model.garment_ID)
                </td>
                <td class="indexlabel">@Html.LabelFor(model => model.date_taken)</td>
                <td class="indexinfo">
                    @Html.EditorFor(model => model.date_taken)
                @Html.ValidationMessageFor(model => model.date_taken)
            </td>
        </tr>
        <tr>
            <td class="indexlabel">@Html.LabelFor(model => model.date_returned)</td>
            <td class="indexinfo">
                @Html.EditorFor(model => model.date_returned)
            @Html.ValidationMessageFor(model => model.date_returned)
        </td>
        <td class="indexlabel">@Html.LabelFor(model => model.cond_returned)</td>
        <td class="indexinfo">
            @Html.EditorFor(model => model.cond_returned)
        @Html.ValidationMessageFor(model => model.cond_returned)
    </td>
</tr>
<tr>
    <td class="indexlabel">@Html.LabelFor(model => model.cost)</td>
    <td class="indexinfo">
        @Html.EditorFor(model => model.cost)
    @Html.ValidationMessageFor(model => model.cost)
</td>
<td class="indexlabel">@Html.LabelFor(model => model.in_out)</td>
<td class="indexinfo">
    @Html.EditorFor(model => model.in_out)
@Html.ValidationMessageFor(model => model.in_out)
</td>
</tr>
<tr>
    <td colspan="2"><input type="submit" class="button" value="Save" /></td>
</tr>
</table>
</div>
</div>
</div>
    }
</div>

@{
    Html.RenderPartial("_Footer");
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
